<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Il-Lengan | Admin Inventory</title>
    <!--Bootstrap core CSS-->
    <link href="assets/css/admin/bootstrap.min.css" rel="stylesheet" />
    <!--Animation library for notifications-->
    <link href="assets/css/admin/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/admin/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--CSS for Demo Purpose, don't include it in your project-->
    <link href="assets/css/admin/demo.css" rel="stylesheet" />
    <!--Fonts and icons-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/common/fontstyles/pre-icon-7/pe-icon-7-stroke.css" rel="stylesheet" />

</head>

<body>

    <body>

        <div class="wrapper">
            <div class="sidebar" data-color="brown" data-image="assets/media/admin/Coffee_1.jpg">
                <!--Left Navigation Bar-->
                <div class="sidebar-wrapper" style="overflow: hidden">
                    <div class="logo">
                        <img src="assets/media/admin/logo_lg.png" alt="il-lengan-logo" img-align="center" width="225px"
                            height="135px">
                    </div>

                    <ul class="nav">
                        <li>
                            <a href="adminDashboard.html">
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminMenuItems.html">
                                <p>Menu Items</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminSales.html">
                                <p>Sales</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminInventory.html">
                                <p>Inventory</p>
                            </a>
                        </li>
                        
                        <li>
                            <a href="adminTables.html">
                                <p>Tables</p>
                            </a>
                        </li>
                        <li class="active">
                            <a href="adminReports.html">
                                <p>Reports</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminAccounts.html">
                                <p>Accounts</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminTransactions.html">
                                <p>Transactions</p>
                            </a>
                        </li>
                        <li>
                            <a href="adminSpoilages.html">
                                <p>Spoilages</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End Side Bar-->